# Sources list file as suggested by https://www.rabbitmq.com/docs/install-debian#apt-quick-start
# Make sure keys are installed into expected places first!

## Modern Erlang/OTP releases
deb [arch=amd64 signed-by={{ rabbitmq_team_apt_signing_key_location }}] https://deb1.rabbitmq.com/rabbitmq-erlang/ubuntu/{{ ansible_distribution_release }} {{ ansible_distribution_release }} main
deb [arch=amd64 signed-by={{ rabbitmq_team_apt_signing_key_location }}] https://deb2.rabbitmq.com/rabbitmq-erlang/ubuntu/{{ ansible_distribution_release }} {{ ansible_distribution_release }} main

## Latest RabbitMQ releases
deb [arch=amd64 signed-by={{ rabbitmq_team_apt_signing_key_location }}] https://deb1.rabbitmq.com/rabbitmq-server/ubuntu/{{ ansible_distribution_release }} {{ ansible_distribution_release }} main
deb [arch=amd64 signed-by={{ rabbitmq_team_apt_signing_key_location }}] https://deb2.rabbitmq.com/rabbitmq-server/ubuntu/{{ ansible_distribution_release }} {{ ansible_distribution_release }} main
